<h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Scorn-u-copia</h1>
    {{#if isloggedin}}
        <div class = "flex flex-row">
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/profile">profile</a>
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/logout">log out</a>
        </div>
    {{/if}}
    {{#unless isloggedin}}
        <div class = "flex flex-row">
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/login">login</a>
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/signup">signup</a>
        </div>
    {{/unless}}