<html class="login">
<div class="log-form">
    <h2>Login to your account</h2>
    <form action="/login" method="post">
        <input type="text" title="username" placeholder="Username" name="username" />
        <input type="password" title="username" placeholder="Password" name="password" />
        <button type="submit" class="btn">Login</button>
        <a class="forgot" href="/signup">Need an account?</a>
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}
    </form>
</div>
<!--end log form -->

</html>