<html class="profile">
<div class = "flex flex-row bg-gray-100 justify-between shadow">
	<h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Scorn-u-copia</h1>
	<a class="bg-teal-300 text-white p-5 text-lg shadow" href="/">Home</a>
    {{!-- <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/signup">signup</a> saving for later--}}
</div>

{{!-- <div>
	profile stats here
</div> --}}


<div class="col-sm-6">
	<div class="well">
		<h3></h3>

		<div class="savedRecipes">

		</div>
		<div class="card">
			<div class="card-body0">

			</div>
			<div class="recbutton">
				<a href="" target="_blank" id="savedRec" class="btn btn-primary btn-dark">Cooking Instructions</a>
			</div>
		</div>

	</div>
</div>

</html>