<html class="profile">
<div class = "flex flex-row bg-gray-100 justify-between shadow">
	<h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Scorn-u-copia</h1>
	<div class = "flex flex-row">
		<a class="bg-teal-300 text-white p-5 text-lg shadow" href="/nutrients">Calorie Counter</a>
		<a class="bg-teal-300 text-white p-5 text-lg shadow" href="/">Home</a>
		<a class="bg-teal-300 text-white p-5 text-lg shadow" href="/logout">log out</a>
	</div>
</div>

<div class = "neutbox flex flex-col text-lg bg-white shadow">
	<h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Enter your daily caloric intake here.</h1>
	<form class = "flex flex-row justify-between">
		<select id="trackerchoice">
			<option>Calories</option>
			<option>Fat</option>
			<option>Cholesterol</option>
			<option>Sodium</option>
			<option>Carbs</option>
			<option>Sugars</option>
			<option>Protein</option>
		</select>
		<h1 class = "p-5 text-xl shadow">Amount</h1>
		<input type="text" class="form-control" id="trackeramount" placeholder="Enter Amount">
		<button type="submit" id="trackerbtn" class="bg-teal-300 text-white p-5 self-right text-lg shadow">Submit</button>
	</form>
	<button type="submit" id="newDay"class="bg-gray-900 text-white p-5 text-lg shadow">New Day</button>
	<div class="tracker">
		<div class="flex flex-row justify-around">
			<div class = "flex flex-col justify-around">
				<h3>Calorie Tracker</h3>
				Calories: <div class="calories"></div>
				Fat: <div class="fat"></div>
				Cholesterol: <div class="cholesterol"></div>
			</div>
			<div class = "flex flex-col justify-around">
				Sodium: <div class="sodium"></div>
				Carbs: <div class="carbs"></div>
				Sugar: <div class="sugar"></div>
				protein: <div class="protein"></div>
			</div>
		</div>

	</div>
</div>

<div class = "savedRecipes">
	
</div>

</html>