<html class="profile">
<div class = "flex flex-row bg-gray-100 justify-between shadow">
	<h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Scorn-u-copia</h1>
	<a class="bg-teal-300 text-white p-5 text-lg shadow" href="/">Home</a>
    {{!-- <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/signup">signup</a> saving for later--}}
</div>

{{!-- <div>
	profile stats here
</div> --}}

<div class = "savedRecipes">
	
</div>

{{!-- <a href="" target="_blank" id="savedRec" class="btn btn-primary btn-dark">Cooking Instructions</a> --}}


</html>