<html class="signup">
<div class="log-form">
    <h2>Create an Account</h2>
    <form action="/signup" method="post">
         <input type="text" title="fullName" placeholder="Full Name" name="fullName" />
        <input type="text" title="username" placeholder="Username" name="username" />
        <input type="password" title="username" placeholder="Password" name="password" />
        <button type="submit" class="btn">Singup</button>
        <a class="forgot" href="/login">Already Have an Account?</a>
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}
    </form>
</div>
<!--end log form -->

</html>