<html class = "welcome">
<div class = "flex flex-row bg-gray-100 justify-between shadow">
    {{> login}}
</div>

<div class = "searchbox flex flex-col bg-white shadow">
    <h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">enter a search term to get cookin'</h1>
    <div class = "flex justify-around py-10">
        <form>
            <input type="text" class="bg-yellow-200 pl-5 pr-10 py-2" id="recipeSearch" placeholder = "e.g. kale, casserole">
            <input type = "submit" id = "submit" value = "">
        </form>
    </div>
</div>

<div class = "searchResults">
    
</div>

<div class="searchResults">
    <div class="card">
        <div class="card-body0">

        </div>
        <div class="recbutton">
            <a href="" target="_blank" id="rec0" class="btn btn-primary btn-dark">Cooking Instructions</a>
            <button href="#" type="submit" id="savebtn" class="">Save for Later</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body1">

        </div>
        <div class="recbutton">
            <a href="" target="_blank" id="rec1" class="btn btn-primary btn-dark">Cooking Instructions</a>
            <button href="#" type="submit" id="savebtn" class="">Save for Later</button>
        </div>
    </div>
</div>

</div>

</html>