<html class = "welcome">
<div class = "flex flex-row bg-gray-100 justify-between shadow">
    <h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">Scorn-u-copia</h1>
    {{#if isloggedin}}
        <div class = "flex flex-row">
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/profile">profile</a>
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/logout">log out</a>
        </div>
    {{/if}}
    {{#unless isloggedin}}
        <div class = "flex flex-row">
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/login">login</a>
            <a class="bg-teal-300 text-white p-5 text-lg shadow" href="/signup">signup</a>
        </div>
    {{/unless}}
</div>

<div class = "searchbox flex flex-col bg-white shadow">
    <h1 class = "bg-gray-900 text-white p-5 px-10 text-xl shadow">enter a search term to get cookin'</h1>
    <div class = "flex justify-around py-10">
        <form>
            <input type="text" class="bg-yellow-200 pl-5 pr-10 py-2" id="recipeSearch" placeholder = "e.g. kale, casserole">
            <input type = "submit" id = "submit" value = "">
        </form>
    </div>
</div>

<div id = "searchResults"></div>

</html>