<a href="/login" class="btn btn-default btn-sm">Log in</a>
<form>
    <div class= "form-group">
        <label>
            Search for Recipe
        </label>
        <input type = "text" class = "form-control" id= "recipeSearch">
        <input type = "submit" id = "submit">
    </div>
</form>