.welcome
{
  background-image: url('https://images.unsplash.com/photo-1577234192428-7d62bcc3dc7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.nutrients
{
  background-image: url('https://images.unsplash.com/photo-1577234192428-7d62bcc3dc7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile
{
  background-image: url('https://images.unsplash.com/photo-1543364195-bfe6e4932397?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

li
{
	width: 100%;
}

.searchbox
{
  width: 500px;
  margin: 155px auto;
}

.neutbox
{
  width: 550px;
  margin: 45px auto;
}

.apimage
{
  width: 250px;
  height: 250px;
}

.resultbox
{
  margin: 0 auto;
}

/*Toast open/load animation*/
/* .alert-toast {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

/*Toast close animation*/
/* .alert-toast input:checked ~ * {
  -webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

/* @-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}@keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}} */

.nutrientInfo {
  background-color: white;
}

@import "compass/css3";
 .image {
	 width: 250px;
	 float: left;
	 margin: 20px;
}
 body {
	 font-size: small;
	 line-height: 1.4;
}
 p {
	 margin: 0;
}
 .performance-facts {
	 border: 1px solid black;
	 margin: 20px;
	 float: left;
	 width: 280px;
	 padding: 0.5rem;
}
 .performance-facts table {
	 border-collapse: collapse;
}
 .performance-facts__title {
	 font-weight: bold;
	 font-size: 2rem;
	 margin: 0 0 0.25rem 0;
}
 .performance-facts__header {
	 border-bottom: 10px solid black;
	 padding: 0 0 0.25rem 0;
	 margin: 0 0 0.5rem 0;
}
 .performance-facts__header p {
	 margin: 0;
}
 .performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
	 width: 100%;
}
 .performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
	 border: 0;
}
 .performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
	 font-weight: normal;
	 text-align: left;
	 padding: 0.25rem 0;
	 border-top: 1px solid black;
	 white-space: nowrap;
}
 .performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
	 text-align: right;
}
 .performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
	 width: 1rem;
	 border-top: 0;
}
 .performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
	 border-top-width: 5px;
}
 .small-info {
	 font-size: 0.7rem;
}
 .performance-facts__table--small {
	 border-bottom: 1px solid #999;
	 margin: 0 0 0.5rem 0;
}
 .performance-facts__table--small thead tr {
	 border-bottom: 1px solid black;
}
 .performance-facts__table--small td:last-child {
	 text-align: left;
}
 .performance-facts__table--small th, .performance-facts__table--small td {
	 border: 0;
	 padding: 0;
}
 .performance-facts__table--grid {
	 margin: 0 0 0.5rem 0;
}
 .performance-facts__table--grid td:last-child {
	 text-align: left;
}
 .performance-facts__table--grid td:last-child::before {
	 content: "•";
	 font-weight: bold;
	 margin: 0 0.25rem 0 0;
}
 .text-center {
	 text-align: center;
}
 .thick-end {
	 border-bottom: 10px solid black;
}
 .thin-end {
	 border-bottom: 1px solid black;
}
 
